@media (max-width: 1300px) {
    header {
        justify-content: flex-start;
        padding-left: 30px;
    }
    header > nav {
        position: static;
        flex-direction: row;
        width: 100%;
        align-items: center;
        background: none;
        justify-content: center;
    }
    nav ul {
        display: flex;
    }
    nav ul li a {
        margin: 0 30px;
    }
    nav:hover {
        width: inherit;
    }
}
@media (max-width: 1120px) {
    .service {
        justify-content: space-evenly;
    }
    .service-card {
        max-width: 45%;
        margin-bottom: 30px;
    }
    .about-info {
        max-width: 100%;
    }
    .about-content {
        height: inherit;
    }
    .about-desc {
        margin-bottom: 15px;
    }
    .about-news-content {
        flex-direction: row;
        height: inherit;
        flex-wrap: wrap;
    }
    .about-news {
        max-width: 100%;
    }
    .header-logo, .header-ava {
        display: none;
    }
    .header-list li .fal {
        display: none;
    }
    .about-news-content img {
        margin-right: 5px;
    }
}
@media (max-width: 1040px) {
    .about-news-content a {
        width: 45%;
        justify-content: center;
        margin-bottom: 30px;
    }
    .about-news-content a:nth-child(3), .about-news-content a:nth-child(4) {
       margin-bottom: 0;
    }
    .about-news-content {
        justify-content: space-evenly;
    }
    .about-info-title {
        padding-left: 0;
        text-align: center;
    }
    .about {
        margin-bottom: 22px;
    }
}
@media (max-width: 575px) {
    .service-card {
        max-width: 75%;
    }
    .about-news-content a {
        width: 75%;
    }
    .about-news-content a:nth-child(3) {
       margin-bottom: 30px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 20px 0;
    }
    .footer-logo {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .footer-contact {
        align-items: center;
    }
    .header-list {
        display: none;
    }
}